html,body{
  height: 100%;
  min-height: 100%;
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.frost,#app{
  font: 100% $font-family;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          -webkit-flex-direction: column;
          -moz-box-orient: vertical;
          -moz-box-direction: normal;
          flex-direction: column;

  .header,.footer{
    -webkit-box-flex: 0;
        -ms-flex: none;
            -webkit-flex: none;
            -moz-box-flex: 0;
            flex: none;
  }

  .main,.wrap{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            -webkit-flex: 1 0 auto;
            -moz-box-flex: 1;
            flex: 1 0 auto;
    position: relative;
  }
}


.hide{
  @extend %hide;
  &.--a{
    display: none
  }
}
