//DISPLAY CONTROL

.mobile-small-only,
.mobile-large-only,
.mobile-only,
.tablet-only,
.touch-only,
.desktop-only{
  display: none !important;
}


@include mobile-small{
  .mobile-small-only{
    display: initial !important;
  }
}

@include mobile-large{
  .mobile-large-only{
    display: initial !important;
  }
}

@include mobile-only{
  .mobile-only{
    display: initial !important;
  }
}

@include tablet{
  .tablet-only{
    display: initial !important;
  }
}

@include touch-only{
  .touch-only{
    display: initial !important;
  }
}

@include desktop-only{
  .desktop-only{
    display: initial !important;
  }
}
