
//buttons
$button-height: 35px;
$button-border-radius: 3px;
$button-border-width: 1px;

.buttons{
  text-align: center;
  button,.button{
    margin: 5px;
    vertical-align: middle;
  }
}

button,.button{
  @include no-select;
  @include button($button-height);
  @if($button-border-radius){
    border-radius: $button-border-radius;
  }

  //primary
  &{
    background: $accent-color;
    color: white;
  }

  // secondary
  &.-s,&.secondary{
    line-height: $button-height - (2 * $button-border-width);
    border: $button-border-width solid currentColor;
    background: inherit;
    color: $accent-color;

    &.no-outline{
      border: none;
    }
  }

  // disabled
  &:disabled,&.disabled{
    line-height: $button-height;
    border: none;
    background: rgba(black,.15);
    color: grey;
    cursor: not-allowed;
  }


  // SPECIAL/EVENT BUTTONS

  //close
  &.close{
    color: white;
    @include close-button($button-height);
    &.s{
      color: $accent-color;
    }
  }

  //loading
  &.loading{
    @include loading-button($button-height);
  }


  // NO STYLING

  //default
  &.default,&.no-props{
    background: transparent;
    padding: 0 .25em;
    color: inherit;
    min-width: unset;
    line-height: initial;
    height: auto;
  }
}
