@import "../tools/columns.scss";

.row{
  display: block;
  width: 100%;
  zoom: 1;
  width: 100% !important;
  clear: both;
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }

  // CENTERING
  &.-c{
    text-align: center;
    >.col,>[class*='col-']{
      display: inline-block !important;
      float: none;
      vertical-align: top;
      /*
        NOTE: prevent child elements from adopting
        the text align property
      */
      &,>*{
        text-align: initial;
      }
    }
  }

  // FLEX
  &.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    >.col{
      width: 100%;
      float: none;
    }
    &.c,&.-c{
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      >.col{
        width: auto;
      }
    }
    &.no-wrap{
      flex-wrap: nowrap;
    }
  }

  // COLS
  >.col,
  >[class*="col-"]{
    float: left;
    display: block;
  }

  // STANDARD MARGIN

  @include col-x(1.5%);
  @include x-y(1.5%);
  >.col{
    margin: 1.5%;
  }

  // NO MARGIN
  &.no-margin,&.-n-m{
    @include col-x(0%);
    @include x-y(0%);
    >.col{
      margin: 0%;
    }
  }



  // SMALL MARGIN
  &.small-margin,&.-s-m{
    @include col-x(0.5%);
    @include x-y(0.5%);
    >.col{
      margin: 0.5%;
    }
  }


  // LARGE MARGIN
  &.large-margin,&.-l-m{
    $large-margin: 3%;
    @include col-x($large-margin);
    @include x-y($large-margin);
    >.col{
      margin: $large-margin;
    }
  }

  //MOBILE MODE
  @include mobile-only{
    &:not(.strict){
      >.col,>[class*='col-']{
        width: 98% !important;
        margin-left: 1%;
        margin-right: 1%;
      }
    }
  }

  // BREAKPOINTS

  // 0-480
  @include mobile-small(){
    &:not(.strict){
      @include col-screen-x(1.5%,"ms");
      &.no-margin{
        @include col-screen-x(0%,"ms");
      }
    }
  }
  // 481-768
  @include mobile-large(){
    &:not(.strict){
      @include col-screen-x(1.5%,"ml");
      &.no-margin{
        @include col-screen-x(0,"ml");
      }
    }
  }
  // 769-1023
  @include tablet(){
    &:not(.strict){
      @include col-screen-x(1.5%,"tl");
      &.no-margin{
        @include col-screen-x(0,"tl");
      }
    }
  }
  // 1024-1215
  @include desktop-only(){
    &:not(.strict){
      @include col-screen-x(1.5%,"dt");
      &.no-margin{
        @include col-screen-x(0,"dt");
      }
    }
  }

  //cap row width at 1216px
  &.-dt{
    max-width: 1216px;
  }
  margin: 0 auto;

}
