.dialog-overlay{
  display: flex;
  position: fixed;
  background: rgba(black,.1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  .dialog-box{
    position: relative;
    z-index: 1001;
    background: white;
  }
}
