.input{
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  min-width: 200px;
  max-width: 450px;

  input,label,span,i{
    display: block;
    background: none;
  }

  .help-text{
    display: block;
  }

  //global
  & > input,
  &.textarea > textarea {
    color: inherit;
    border: $border-props;
  }

  input{
    font: inherit;
    color: inherit;

    @extend %input-props;


    //label
    &+label{
      @extend %label-props;
    }

    //disabled
    &:disabled{
      color: gray;
      background: rgba(black,.15);
      pointer-events: none;
      cursor: not-allowed;

      &+label{
        color: gray;
        background: none;
      }
    }
  }

  //helptext
  &:before{
    @extend %input-helptext;
    line-height: 17px;
    font-size: 13px;
    padding-left: 20px;
  }

  //valid/invalid
  &.is-valid{
    color: $green;
  }
  &.is-invalid{
    color: $red;
  }


  // ANIMATED -> Google Style
  &.animated{
    padding-top: 20px;
    position: relative;
    input{
      border:none;
      &+label{
        position: absolute;
        line-height: $input-height - 15px;
        padding-left: 15px;
        border-bottom: 2px solid currentColor;
        width: 100%;
        left: 0;
        padding-left: 5px;
      }
    }
    //active input
    &.has-data input,
    & input:focus{
      &+label{
        line-height: $input-height * 2;
      }
    }

    input,label,label:after{
      transition: all 0.25s ease;
    }
  }

  //FILE
  &.file{
    display: inline-block;
    input{
      @extend %hide;
      &+label{
        @extend %hide;
      }
      &[type='file'],&[type='image']{
        @extend %hide;
        border: none;
        height: 0px;
        width: 0px;
        font-size: 0;
        &+label{
          @extend %show;
          @extend %input-props;
          text-align: center !important;
          padding: 0;
          overflow: hidden;
          @if($input-border-radius){
            border-radius: $input-border-radius;
          }
        }
      }
    }

    //active file-input
    &.has-file{
      input{
        &+label{
          background: $accent-color;
          color: white;
        }
      }
    }
  }

  //TEXTAREA
  &.textarea{
    max-width: none;
    input,label{
      display: none;
    }

    textarea,label,span{
      display: block;
    }

    label{
      @extend %label-props;
    }

    textarea{
      @extend %textarea-props;
    }

    &.h{
      textarea{
        resize: horizontal;
      }
    }
    &.v{
      textarea{
        resize: vertical;
      }
    }
    &.no-resize{
      textarea{
        resize: none;
      }
    }
  }


  // SELECT
  &.select{
    display: inline-block;
    position: relative;
    select{
      position: relative;
      @extend %select-props;
      outline: none;
      background: transparent;

      //hide arrow
      @extend %hide-select-arrow;
    }

    &:after{
      @extend %pseudo;
      border: 2px solid red;
      position: absolute;
      right: $input-height - 35px;
      top: 50%;
      transform: translateY(-25%);
      margin-top: 2px;
      border: 10px solid transparent;
      border-top-color: rgba(black,.25);
    }
    &.c{
      select{
        text-align: center;
      }
    }

    //multiple select
    &.group{
      max-width: none;
      display: flex;
      flex-direction: row;
      select{
        //props for multiple select
      }
    }
  }

  //PILLS
  // pill group
  &.pills{
    display: block;
    max-width: none;
    .pill{
      @extend %selectable-label;
      vertical-align: middle;
      display: inline-block;
      margin: 5px;
      input{
        &+label{
          padding: 0 1.5em;
          @extend %input-props;
          height: auto;
          @include no-select;
        }

        &:checked{
          &+label{
            @extend %pills-active;
          }
        }
      }
    }
    // centered pills
    &.c{
      text-align: center;
    }

    //block-level
    &.b{
      flex-direction: column;

      .pill{
        label{
          width: 100%;
          line-height: normal;
          height: auto;
          padding: 10px;
        }
      }
    }
  }


  // TOGGLE
  &.toggle{
    @extend %selectable-label;
    $toggle-rad: $input-height * 3 / 4;
    input{
      &+label{
        @extend %pseudo;
        position: relative;
        height: $toggle-rad;
        width: $toggle-rad * 2;
        background: rgba(black,.15);
        border-radius: $toggle-rad / 2;
        transition: all 0.5s ease;
        &:before{
          right: auto;
          @extend %pseudo;
          position: absolute;
          left: 1px;
          top: 1px;
          right: unset;
          height: $toggle-rad - 2px;
          width: $toggle-rad - 2px;
          border-radius: 50%;
          background: white;
        }
      }

      &:checked{
        &+label{
          background: $accent-color;
          &:before{
            left: unset;
            right: 1px;
          }
        }
      }
    }
  }
}

//DO FIELDSET
fieldset{
  border-style: solid;
  padding: 1.5em 1em;
  legend{
    display: block;
  }
}
