@import "../mixins/menus.scss";

.menu{
  .-menu{
    text-align: inherit;
  }
  ul{
    li{
      a{
        display: block;
      }
    }
  }

  //flat
  &.flat{
    @extend %inline-menus;
  }

  //header-menu
  &.header-menu{
    @extend %inline-menus;
    @include mobile-only(){
      @include slider-menu-props;
      .-menu{
        ul{
          li{
            display: block;
          }
        }
      }
    }
  }

  //slider
  &.slider{
    @extend %slider-menu;
  }

  //accordion
  &.accordion{
    ul{
      >li{
        >ul{
          @extend %hide;
          li{}
        }
        &:hover{
          >ul{
            @extend %show;
          }
        }
      }
    }
  }

  //dropdown
  &.dropdown{
    line-height: $button-height;
    position: relative;
    .dropdown-menu{
      position: absolute;
      width: 100%;
      @extend %hide;
      ul{
        li{

        }
      }
    }
    .dropdown-button{
      display: block;
      &:hover{
        @extend %accent-colors;
        &+.dropdown-menu{
          @extend %show;
        }
      }
    }
  }
}
