@import "../mixins/menus.scss";


div.c{
  >ul{
    display: inline-block;
  }
}

.menu{
  .-menu{
    text-align: inherit;
  }
  ul{
    li{
      a{
        display: block;
      }
    }
  }

  //flat
  &.flat{
    @include inline-menus;
  }

  //header-menu
  &.header-menu{
    @includeinline-menus;
    @include mobile-only(){
      @include slider-menu-props;
      .-menu{
        ul{
          li{
            display: block;
          }
        }
      }
    }
  }

  //slider
  &.slider{
    @include slider-menu;
  }

  //accordion
  &.accordion{
    ul{
      >li{
        >ul{
          @include hide;
          li{}
        }
        &:hover{
          >ul{
            @include show;
          }
        }
      }
    }
  }

  //dropdown
  &.dropdown{
    line-height: $button-height;
    position: relative;
    .-menu,.drop-menu{
      position: absolute;
      width: 100%;
      @include hide;
      ul{
        li{

        }
      }
    }
    .-button,.drop-menu{
      display: block;
      &:hover{
        // @extend %accent-colors;
        &+.drop-menu,&+.-menu{
          @include show;
        }
      }
    }
  }
}
