$menu-puller-width: 4em;
$menu-puller-stick-gap: 5px;
$menu-puller-stick-height: 3px;
$menu-puller-stick-width: 25px;

.puller{
  position: relative;
  z-index: 5000;
  height: $menu-puller-width;
  width: $menu-puller-width;
  display: inline-block;
  vertical-align: middle;
  color : inherit;
  cursor: pointer;

  &:focus{
    background: transparent;
  }

  //alignment
  &.left{float: left}
  &.right{float: right}

  [class*='ham']{
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    &:before{
      -webkit-transform: translateY(-($menu-puller-stick-gap + $menu-puller-stick-height)); //3px
      transform: translateY(-($menu-puller-stick-gap + $menu-puller-stick-height)); //3px
    }
    &:after{
      -webkit-transform: translateY($menu-puller-stick-gap + $menu-puller-stick-height);
      transform: translateY($menu-puller-stick-gap + $menu-puller-stick-height);
    }

    &,&:before,&:after{
      position: absolute;
      content: '';
      color: inherit;
      background: currentColor;
      display: block;
      height: $menu-puller-stick-height;

      -webkit-transition: all .35s ease;
      transition: all .35s ease;
    }

    &.ham{
      &,&:before,&:after{
        width: $menu-puller-stick-width;
      }
    }
    //rounded//
    &.rounded{
      &,&:before,&:after{
        border-radius: $menu-puller-stick-height / 2 ;
      }
    }

    //sticks styles//
    &.hamE{
      width: $menu-puller-stick-width * .6;
      &:before{width: $menu-puller-stick-width * 1.1}
      &:after{width: $menu-puller-stick-width * .9}
    }
    &.hamF{
      width: $menu-puller-stick-width * .9;
      &:before{width: $menu-puller-stick-width * 1.1}
      &:after{width: $menu-puller-stick-width * .6}
    }

    //two sticks//
    &.double{
      height: 0;
      &:before,
      &:after{
        height: $menu-puller-stick-height;
      }
      &:before{
        -webkit-transform : translateY(-$menu-puller-stick-gap);
                transform : translateY(-$menu-puller-stick-gap);
      }
      &:after{
        -webkit-transform: translateY( $menu-puller-stick-gap);
                transform: translateY( $menu-puller-stick-gap);
      }
      &.hamE,&.hamF{
        &:before{
          width:  $menu-puller-stick-width * 1.1;
        }
        &:after{
          width: $menu-puller-stick-width * .8;
        }
      }
    }
  }

  //active sticks x
  &.is-active{
    color: $accent-color;
    [class*='ham']{
      background: transparent;
      &,
      &:before,
      &:after {
        width: $menu-puller-stick-width !important;
      }
      &:before{
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
      }
      &:after{
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }
    }
  }
}
