@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
.menu.dropdown .dropdown-button:hover {
  color: #1c77c3;
}

.input.pills .pill input:checked + label {
  background: #1c77c3;
  color: white;
}

.input.pills .pill input, .input.toggle input, .no-show, .input.file input, .input.file input + label, .input.file input[type='file'], .input.file input[type='image'], .modal, .menu.accordion ul > li > ul, .menu.dropdown .dropdown-menu {
  visibility: hidden;
  opacity: 0;
}

.input.file input[type='file'] + label, .input.file input[type='image'] + label, .modal.is-active, .menu.accordion ul > li:hover > ul, .menu.dropdown .dropdown-button:hover + .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

button.close:after, button.close:before, .button.close:after, .button.close:before, button.loading:before, .button.loading:before, .input.select:after, .input.toggle input + label, .input.toggle input + label:before {
  content: '';
  display: block;
}

.modal {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal {
  position: fixed;
}

.input.textarea textarea, .input.select select, .input input, .input.file input[type='file'] + label, .input.file input[type='image'] + label, .input.pills .pill input + label {
  background: none;
  border-radius: 2px;
  height: 50px;
  line-height: 50px;
  padding: 0 5px;
  outline: none;
}

.input input + label, .input.textarea label {
  color: inherit;
  text-align: left;
  font-size: 15px;
  padding: 5px;
}

.input:before {
  display: block;
  content: attr(data-text);
}

.input.pills .pill input, .input.toggle input {
  height: 0;
  width: 0;
  font-size: 0;
}
.input.pills .pill input + label, .input.toggle input + label {
  display: inline-block;
}

.input.textarea textarea {
  width: 100%;
  min-height: 100px;
  max-width: 100%;
  padding: .5em;
  line-height: normal;
  font: inherit;
  font-size: 16px;
}

.input.select select {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  padding-right: 50px;
}

.input.pills .pill input:checked + label {
  border-color: #1c77c3;
}

.input.select select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
.input.select select::-ms-expand {
  display: none;
}

.menu.flat ul li, .menu.header-menu ul li {
  display: inline-block;
}
.c.menu.flat, .c.menu.header-menu {
  text-align: center;
}
.c.menu.flat ul, .c.menu.header-menu ul {
  display: inline-block;
}

.menu.slider {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 500;
}
.menu.slider .-menu {
  background: #1c77c3;
  color: white;
  box-shadow: 0 0 25px -10px;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  left: 0;
  width: 250px;
}
.menu.slider .-menu.r {
  right: 0;
  left: unset;
  transform: translateX(100%);
}
.is-active.menu.slider {
  visibility: visible;
  opacity: 1;
}
.is-active.menu.slider .-menu {
  transform: translateX(0%);
}
.menu.slider, .menu.slider .-menu {
  transition: all 0.5s ease;
}

@keyframes loading-button {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.row {
  display: block;
  width: 100%;
  zoom: 1;
  width: 100% !important;
  clear: both;
  max-width: 1216px;
  margin: 0 auto;
}
.row:before, .row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
.row.c, .row.-c {
  text-align: center;
}
.row.c > .col, .row.c > [class*='col-'], .row.-c > .col, .row.-c > [class*='col-'] {
  display: inline-block !important;
  float: none;
  vertical-align: top;
  /*
    NOTE: prevent child elements from adopting
    the text align property
  */
}
.row.c > .col, .row.c > .col > *, .row.c > [class*='col-'], .row.c > [class*='col-'] > *, .row.-c > .col, .row.-c > .col > *, .row.-c > [class*='col-'], .row.-c > [class*='col-'] > * {
  text-align: initial;
}
.row.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.row.flex > .col {
  width: 100%;
  float: none;
}
.row.flex.c, .row.flex.-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.row.flex.wrap {
  flex-wrap: wrap;
}
.row > .col, .row > [class*="col-"] {
  float: left;
  display: block;
}
.row *[class*='col-'] {
  margin: 1.5%;
}
.row .col-1 {
  width: 5.3333333333%;
}
.row .col-2 {
  width: 13.6666666667%;
}
.row .col-3 {
  width: 22%;
}
.row .col-4 {
  width: 30.3333333333%;
}
.row .col-5 {
  width: 38.6666666667%;
}
.row .col-6 {
  width: 47%;
}
.row .col-7 {
  width: 55.3333333333%;
}
.row .col-8 {
  width: 63.6666666667%;
}
.row .col-9 {
  width: 72%;
}
.row .col-10 {
  width: 80.3333333333%;
}
.row .col-11 {
  width: 88.6666666667%;
}
.row .col-12 {
  width: 97%;
}
.row .col.one-one {
  width: 97%;
}
.row .col.one-two {
  width: 47%;
}
.row .col.two-two {
  width: 97%;
}
.row .col.one-three {
  width: 30.3333333333%;
}
.row .col.two-three {
  width: 63.6666666667%;
}
.row .col.three-three {
  width: 97%;
}
.row .col.one-four {
  width: 22%;
}
.row .col.two-four {
  width: 47%;
}
.row .col.three-four {
  width: 72%;
}
.row .col.four-four {
  width: 97%;
}
.row .col.one-five {
  width: 17%;
}
.row .col.two-five {
  width: 37%;
}
.row .col.three-five {
  width: 57%;
}
.row .col.four-five {
  width: 77%;
}
.row .col.five-five {
  width: 97%;
}
.row .col.one-six {
  width: 13.6666666667%;
}
.row .col.two-six {
  width: 30.3333333333%;
}
.row .col.three-six {
  width: 47%;
}
.row .col.four-six {
  width: 63.6666666667%;
}
.row .col.five-six {
  width: 80.3333333333%;
}
.row .col.six-six {
  width: 97%;
}
.row .col.one-seven {
  width: 11.2857142857%;
}
.row .col.two-seven {
  width: 25.5714285714%;
}
.row .col.three-seven {
  width: 39.8571428571%;
}
.row .col.four-seven {
  width: 54.1428571429%;
}
.row .col.five-seven {
  width: 68.4285714286%;
}
.row .col.six-seven {
  width: 82.7142857143%;
}
.row .col.seven-seven {
  width: 97%;
}
.row .col.one-eight {
  width: 9.5%;
}
.row .col.two-eight {
  width: 22%;
}
.row .col.three-eight {
  width: 34.5%;
}
.row .col.four-eight {
  width: 47%;
}
.row .col.five-eight {
  width: 59.5%;
}
.row .col.six-eight {
  width: 72%;
}
.row .col.seven-eight {
  width: 84.5%;
}
.row .col.eight-eight {
  width: 97%;
}
.row .col.one-nine {
  width: 8.1111111111%;
}
.row .col.two-nine {
  width: 19.2222222222%;
}
.row .col.three-nine {
  width: 30.3333333333%;
}
.row .col.four-nine {
  width: 41.4444444444%;
}
.row .col.five-nine {
  width: 52.5555555556%;
}
.row .col.six-nine {
  width: 63.6666666667%;
}
.row .col.seven-nine {
  width: 74.7777777778%;
}
.row .col.eight-nine {
  width: 85.8888888889%;
}
.row .col.nine-nine {
  width: 97%;
}
.row .col.one-ten {
  width: 7%;
}
.row .col.two-ten {
  width: 17%;
}
.row .col.three-ten {
  width: 27%;
}
.row .col.four-ten {
  width: 37%;
}
.row .col.five-ten {
  width: 47%;
}
.row .col.six-ten {
  width: 57%;
}
.row .col.seven-ten {
  width: 67%;
}
.row .col.eight-ten {
  width: 77%;
}
.row .col.nine-ten {
  width: 87%;
}
.row .col.ten-ten {
  width: 97%;
}
.row .col.one-eleven {
  width: 6.0909090909%;
}
.row .col.two-eleven {
  width: 15.1818181818%;
}
.row .col.three-eleven {
  width: 24.2727272727%;
}
.row .col.four-eleven {
  width: 33.3636363636%;
}
.row .col.five-eleven {
  width: 42.4545454545%;
}
.row .col.six-eleven {
  width: 51.5454545455%;
}
.row .col.seven-eleven {
  width: 60.6363636364%;
}
.row .col.eight-eleven {
  width: 69.7272727273%;
}
.row .col.nine-eleven {
  width: 78.8181818182%;
}
.row .col.ten-eleven {
  width: 87.9090909091%;
}
.row .col.eleven-eleven {
  width: 97%;
}
.row .col.one-twelve {
  width: 5.3333333333%;
}
.row .col.two-twelve {
  width: 13.6666666667%;
}
.row .col.three-twelve {
  width: 22%;
}
.row .col.four-twelve {
  width: 30.3333333333%;
}
.row .col.five-twelve {
  width: 38.6666666667%;
}
.row .col.six-twelve {
  width: 47%;
}
.row .col.seven-twelve {
  width: 55.3333333333%;
}
.row .col.eight-twelve {
  width: 63.6666666667%;
}
.row .col.nine-twelve {
  width: 72%;
}
.row .col.ten-twelve {
  width: 80.3333333333%;
}
.row .col.eleven-twelve {
  width: 88.6666666667%;
}
.row .col.twelve-twelve {
  width: 97%;
}
.row > .col {
  margin: 1.5%;
}
.row.no-margin *[class*='col-'] {
  margin: 0%;
}
.row.no-margin .col-1 {
  width: 8.3333333333%;
}
.row.no-margin .col-2 {
  width: 16.6666666667%;
}
.row.no-margin .col-3 {
  width: 25%;
}
.row.no-margin .col-4 {
  width: 33.3333333333%;
}
.row.no-margin .col-5 {
  width: 41.6666666667%;
}
.row.no-margin .col-6 {
  width: 50%;
}
.row.no-margin .col-7 {
  width: 58.3333333333%;
}
.row.no-margin .col-8 {
  width: 66.6666666667%;
}
.row.no-margin .col-9 {
  width: 75%;
}
.row.no-margin .col-10 {
  width: 83.3333333333%;
}
.row.no-margin .col-11 {
  width: 91.6666666667%;
}
.row.no-margin .col-12 {
  width: 100%;
}
.row.no-margin .col.one-one {
  width: 100%;
}
.row.no-margin .col.one-two {
  width: 50%;
}
.row.no-margin .col.two-two {
  width: 100%;
}
.row.no-margin .col.one-three {
  width: 33.3333333333%;
}
.row.no-margin .col.two-three {
  width: 66.6666666667%;
}
.row.no-margin .col.three-three {
  width: 100%;
}
.row.no-margin .col.one-four {
  width: 25%;
}
.row.no-margin .col.two-four {
  width: 50%;
}
.row.no-margin .col.three-four {
  width: 75%;
}
.row.no-margin .col.four-four {
  width: 100%;
}
.row.no-margin .col.one-five {
  width: 20%;
}
.row.no-margin .col.two-five {
  width: 40%;
}
.row.no-margin .col.three-five {
  width: 60%;
}
.row.no-margin .col.four-five {
  width: 80%;
}
.row.no-margin .col.five-five {
  width: 100%;
}
.row.no-margin .col.one-six {
  width: 16.6666666667%;
}
.row.no-margin .col.two-six {
  width: 33.3333333333%;
}
.row.no-margin .col.three-six {
  width: 50%;
}
.row.no-margin .col.four-six {
  width: 66.6666666667%;
}
.row.no-margin .col.five-six {
  width: 83.3333333333%;
}
.row.no-margin .col.six-six {
  width: 100%;
}
.row.no-margin .col.one-seven {
  width: 14.2857142857%;
}
.row.no-margin .col.two-seven {
  width: 28.5714285714%;
}
.row.no-margin .col.three-seven {
  width: 42.8571428571%;
}
.row.no-margin .col.four-seven {
  width: 57.1428571429%;
}
.row.no-margin .col.five-seven {
  width: 71.4285714286%;
}
.row.no-margin .col.six-seven {
  width: 85.7142857143%;
}
.row.no-margin .col.seven-seven {
  width: 100%;
}
.row.no-margin .col.one-eight {
  width: 12.5%;
}
.row.no-margin .col.two-eight {
  width: 25%;
}
.row.no-margin .col.three-eight {
  width: 37.5%;
}
.row.no-margin .col.four-eight {
  width: 50%;
}
.row.no-margin .col.five-eight {
  width: 62.5%;
}
.row.no-margin .col.six-eight {
  width: 75%;
}
.row.no-margin .col.seven-eight {
  width: 87.5%;
}
.row.no-margin .col.eight-eight {
  width: 100%;
}
.row.no-margin .col.one-nine {
  width: 11.1111111111%;
}
.row.no-margin .col.two-nine {
  width: 22.2222222222%;
}
.row.no-margin .col.three-nine {
  width: 33.3333333333%;
}
.row.no-margin .col.four-nine {
  width: 44.4444444444%;
}
.row.no-margin .col.five-nine {
  width: 55.5555555556%;
}
.row.no-margin .col.six-nine {
  width: 66.6666666667%;
}
.row.no-margin .col.seven-nine {
  width: 77.7777777778%;
}
.row.no-margin .col.eight-nine {
  width: 88.8888888889%;
}
.row.no-margin .col.nine-nine {
  width: 100%;
}
.row.no-margin .col.one-ten {
  width: 10%;
}
.row.no-margin .col.two-ten {
  width: 20%;
}
.row.no-margin .col.three-ten {
  width: 30%;
}
.row.no-margin .col.four-ten {
  width: 40%;
}
.row.no-margin .col.five-ten {
  width: 50%;
}
.row.no-margin .col.six-ten {
  width: 60%;
}
.row.no-margin .col.seven-ten {
  width: 70%;
}
.row.no-margin .col.eight-ten {
  width: 80%;
}
.row.no-margin .col.nine-ten {
  width: 90%;
}
.row.no-margin .col.ten-ten {
  width: 100%;
}
.row.no-margin .col.one-eleven {
  width: 9.0909090909%;
}
.row.no-margin .col.two-eleven {
  width: 18.1818181818%;
}
.row.no-margin .col.three-eleven {
  width: 27.2727272727%;
}
.row.no-margin .col.four-eleven {
  width: 36.3636363636%;
}
.row.no-margin .col.five-eleven {
  width: 45.4545454545%;
}
.row.no-margin .col.six-eleven {
  width: 54.5454545455%;
}
.row.no-margin .col.seven-eleven {
  width: 63.6363636364%;
}
.row.no-margin .col.eight-eleven {
  width: 72.7272727273%;
}
.row.no-margin .col.nine-eleven {
  width: 81.8181818182%;
}
.row.no-margin .col.ten-eleven {
  width: 90.9090909091%;
}
.row.no-margin .col.eleven-eleven {
  width: 100%;
}
.row.no-margin .col.one-twelve {
  width: 8.3333333333%;
}
.row.no-margin .col.two-twelve {
  width: 16.6666666667%;
}
.row.no-margin .col.three-twelve {
  width: 25%;
}
.row.no-margin .col.four-twelve {
  width: 33.3333333333%;
}
.row.no-margin .col.five-twelve {
  width: 41.6666666667%;
}
.row.no-margin .col.six-twelve {
  width: 50%;
}
.row.no-margin .col.seven-twelve {
  width: 58.3333333333%;
}
.row.no-margin .col.eight-twelve {
  width: 66.6666666667%;
}
.row.no-margin .col.nine-twelve {
  width: 75%;
}
.row.no-margin .col.ten-twelve {
  width: 83.3333333333%;
}
.row.no-margin .col.eleven-twelve {
  width: 91.6666666667%;
}
.row.no-margin .col.twelve-twelve {
  width: 100%;
}
.row.no-margin > .col {
  margin: 0%;
}
.row.small-margin *[class*='col-'] {
  margin: 0.5%;
}
.row.small-margin .col-1 {
  width: 7.3333333333%;
}
.row.small-margin .col-2 {
  width: 15.6666666667%;
}
.row.small-margin .col-3 {
  width: 24%;
}
.row.small-margin .col-4 {
  width: 32.3333333333%;
}
.row.small-margin .col-5 {
  width: 40.6666666667%;
}
.row.small-margin .col-6 {
  width: 49%;
}
.row.small-margin .col-7 {
  width: 57.3333333333%;
}
.row.small-margin .col-8 {
  width: 65.6666666667%;
}
.row.small-margin .col-9 {
  width: 74%;
}
.row.small-margin .col-10 {
  width: 82.3333333333%;
}
.row.small-margin .col-11 {
  width: 90.6666666667%;
}
.row.small-margin .col-12 {
  width: 99%;
}
.row.small-margin .col.one-one {
  width: 99%;
}
.row.small-margin .col.one-two {
  width: 49%;
}
.row.small-margin .col.two-two {
  width: 99%;
}
.row.small-margin .col.one-three {
  width: 32.3333333333%;
}
.row.small-margin .col.two-three {
  width: 65.6666666667%;
}
.row.small-margin .col.three-three {
  width: 99%;
}
.row.small-margin .col.one-four {
  width: 24%;
}
.row.small-margin .col.two-four {
  width: 49%;
}
.row.small-margin .col.three-four {
  width: 74%;
}
.row.small-margin .col.four-four {
  width: 99%;
}
.row.small-margin .col.one-five {
  width: 19%;
}
.row.small-margin .col.two-five {
  width: 39%;
}
.row.small-margin .col.three-five {
  width: 59%;
}
.row.small-margin .col.four-five {
  width: 79%;
}
.row.small-margin .col.five-five {
  width: 99%;
}
.row.small-margin .col.one-six {
  width: 15.6666666667%;
}
.row.small-margin .col.two-six {
  width: 32.3333333333%;
}
.row.small-margin .col.three-six {
  width: 49%;
}
.row.small-margin .col.four-six {
  width: 65.6666666667%;
}
.row.small-margin .col.five-six {
  width: 82.3333333333%;
}
.row.small-margin .col.six-six {
  width: 99%;
}
.row.small-margin .col.one-seven {
  width: 13.2857142857%;
}
.row.small-margin .col.two-seven {
  width: 27.5714285714%;
}
.row.small-margin .col.three-seven {
  width: 41.8571428571%;
}
.row.small-margin .col.four-seven {
  width: 56.1428571429%;
}
.row.small-margin .col.five-seven {
  width: 70.4285714286%;
}
.row.small-margin .col.six-seven {
  width: 84.7142857143%;
}
.row.small-margin .col.seven-seven {
  width: 99%;
}
.row.small-margin .col.one-eight {
  width: 11.5%;
}
.row.small-margin .col.two-eight {
  width: 24%;
}
.row.small-margin .col.three-eight {
  width: 36.5%;
}
.row.small-margin .col.four-eight {
  width: 49%;
}
.row.small-margin .col.five-eight {
  width: 61.5%;
}
.row.small-margin .col.six-eight {
  width: 74%;
}
.row.small-margin .col.seven-eight {
  width: 86.5%;
}
.row.small-margin .col.eight-eight {
  width: 99%;
}
.row.small-margin .col.one-nine {
  width: 10.1111111111%;
}
.row.small-margin .col.two-nine {
  width: 21.2222222222%;
}
.row.small-margin .col.three-nine {
  width: 32.3333333333%;
}
.row.small-margin .col.four-nine {
  width: 43.4444444444%;
}
.row.small-margin .col.five-nine {
  width: 54.5555555556%;
}
.row.small-margin .col.six-nine {
  width: 65.6666666667%;
}
.row.small-margin .col.seven-nine {
  width: 76.7777777778%;
}
.row.small-margin .col.eight-nine {
  width: 87.8888888889%;
}
.row.small-margin .col.nine-nine {
  width: 99%;
}
.row.small-margin .col.one-ten {
  width: 9%;
}
.row.small-margin .col.two-ten {
  width: 19%;
}
.row.small-margin .col.three-ten {
  width: 29%;
}
.row.small-margin .col.four-ten {
  width: 39%;
}
.row.small-margin .col.five-ten {
  width: 49%;
}
.row.small-margin .col.six-ten {
  width: 59%;
}
.row.small-margin .col.seven-ten {
  width: 69%;
}
.row.small-margin .col.eight-ten {
  width: 79%;
}
.row.small-margin .col.nine-ten {
  width: 89%;
}
.row.small-margin .col.ten-ten {
  width: 99%;
}
.row.small-margin .col.one-eleven {
  width: 8.0909090909%;
}
.row.small-margin .col.two-eleven {
  width: 17.1818181818%;
}
.row.small-margin .col.three-eleven {
  width: 26.2727272727%;
}
.row.small-margin .col.four-eleven {
  width: 35.3636363636%;
}
.row.small-margin .col.five-eleven {
  width: 44.4545454545%;
}
.row.small-margin .col.six-eleven {
  width: 53.5454545455%;
}
.row.small-margin .col.seven-eleven {
  width: 62.6363636364%;
}
.row.small-margin .col.eight-eleven {
  width: 71.7272727273%;
}
.row.small-margin .col.nine-eleven {
  width: 80.8181818182%;
}
.row.small-margin .col.ten-eleven {
  width: 89.9090909091%;
}
.row.small-margin .col.eleven-eleven {
  width: 99%;
}
.row.small-margin .col.one-twelve {
  width: 7.3333333333%;
}
.row.small-margin .col.two-twelve {
  width: 15.6666666667%;
}
.row.small-margin .col.three-twelve {
  width: 24%;
}
.row.small-margin .col.four-twelve {
  width: 32.3333333333%;
}
.row.small-margin .col.five-twelve {
  width: 40.6666666667%;
}
.row.small-margin .col.six-twelve {
  width: 49%;
}
.row.small-margin .col.seven-twelve {
  width: 57.3333333333%;
}
.row.small-margin .col.eight-twelve {
  width: 65.6666666667%;
}
.row.small-margin .col.nine-twelve {
  width: 74%;
}
.row.small-margin .col.ten-twelve {
  width: 82.3333333333%;
}
.row.small-margin .col.eleven-twelve {
  width: 90.6666666667%;
}
.row.small-margin .col.twelve-twelve {
  width: 99%;
}
.row.small-margin > .col {
  margin: 0.5%;
}
.row.large-margin *[class*='col-'] {
  margin: 3%;
}
.row.large-margin .col-1 {
  width: 2.3333333333%;
}
.row.large-margin .col-2 {
  width: 10.6666666667%;
}
.row.large-margin .col-3 {
  width: 19%;
}
.row.large-margin .col-4 {
  width: 27.3333333333%;
}
.row.large-margin .col-5 {
  width: 35.6666666667%;
}
.row.large-margin .col-6 {
  width: 44%;
}
.row.large-margin .col-7 {
  width: 52.3333333333%;
}
.row.large-margin .col-8 {
  width: 60.6666666667%;
}
.row.large-margin .col-9 {
  width: 69%;
}
.row.large-margin .col-10 {
  width: 77.3333333333%;
}
.row.large-margin .col-11 {
  width: 85.6666666667%;
}
.row.large-margin .col-12 {
  width: 94%;
}
.row.large-margin .col.one-one {
  width: 94%;
}
.row.large-margin .col.one-two {
  width: 44%;
}
.row.large-margin .col.two-two {
  width: 94%;
}
.row.large-margin .col.one-three {
  width: 27.3333333333%;
}
.row.large-margin .col.two-three {
  width: 60.6666666667%;
}
.row.large-margin .col.three-three {
  width: 94%;
}
.row.large-margin .col.one-four {
  width: 19%;
}
.row.large-margin .col.two-four {
  width: 44%;
}
.row.large-margin .col.three-four {
  width: 69%;
}
.row.large-margin .col.four-four {
  width: 94%;
}
.row.large-margin .col.one-five {
  width: 14%;
}
.row.large-margin .col.two-five {
  width: 34%;
}
.row.large-margin .col.three-five {
  width: 54%;
}
.row.large-margin .col.four-five {
  width: 74%;
}
.row.large-margin .col.five-five {
  width: 94%;
}
.row.large-margin .col.one-six {
  width: 10.6666666667%;
}
.row.large-margin .col.two-six {
  width: 27.3333333333%;
}
.row.large-margin .col.three-six {
  width: 44%;
}
.row.large-margin .col.four-six {
  width: 60.6666666667%;
}
.row.large-margin .col.five-six {
  width: 77.3333333333%;
}
.row.large-margin .col.six-six {
  width: 94%;
}
.row.large-margin .col.one-seven {
  width: 8.2857142857%;
}
.row.large-margin .col.two-seven {
  width: 22.5714285714%;
}
.row.large-margin .col.three-seven {
  width: 36.8571428571%;
}
.row.large-margin .col.four-seven {
  width: 51.1428571429%;
}
.row.large-margin .col.five-seven {
  width: 65.4285714286%;
}
.row.large-margin .col.six-seven {
  width: 79.7142857143%;
}
.row.large-margin .col.seven-seven {
  width: 94%;
}
.row.large-margin .col.one-eight {
  width: 6.5%;
}
.row.large-margin .col.two-eight {
  width: 19%;
}
.row.large-margin .col.three-eight {
  width: 31.5%;
}
.row.large-margin .col.four-eight {
  width: 44%;
}
.row.large-margin .col.five-eight {
  width: 56.5%;
}
.row.large-margin .col.six-eight {
  width: 69%;
}
.row.large-margin .col.seven-eight {
  width: 81.5%;
}
.row.large-margin .col.eight-eight {
  width: 94%;
}
.row.large-margin .col.one-nine {
  width: 5.1111111111%;
}
.row.large-margin .col.two-nine {
  width: 16.2222222222%;
}
.row.large-margin .col.three-nine {
  width: 27.3333333333%;
}
.row.large-margin .col.four-nine {
  width: 38.4444444444%;
}
.row.large-margin .col.five-nine {
  width: 49.5555555556%;
}
.row.large-margin .col.six-nine {
  width: 60.6666666667%;
}
.row.large-margin .col.seven-nine {
  width: 71.7777777778%;
}
.row.large-margin .col.eight-nine {
  width: 82.8888888889%;
}
.row.large-margin .col.nine-nine {
  width: 94%;
}
.row.large-margin .col.one-ten {
  width: 4%;
}
.row.large-margin .col.two-ten {
  width: 14%;
}
.row.large-margin .col.three-ten {
  width: 24%;
}
.row.large-margin .col.four-ten {
  width: 34%;
}
.row.large-margin .col.five-ten {
  width: 44%;
}
.row.large-margin .col.six-ten {
  width: 54%;
}
.row.large-margin .col.seven-ten {
  width: 64%;
}
.row.large-margin .col.eight-ten {
  width: 74%;
}
.row.large-margin .col.nine-ten {
  width: 84%;
}
.row.large-margin .col.ten-ten {
  width: 94%;
}
.row.large-margin .col.one-eleven {
  width: 3.0909090909%;
}
.row.large-margin .col.two-eleven {
  width: 12.1818181818%;
}
.row.large-margin .col.three-eleven {
  width: 21.2727272727%;
}
.row.large-margin .col.four-eleven {
  width: 30.3636363636%;
}
.row.large-margin .col.five-eleven {
  width: 39.4545454545%;
}
.row.large-margin .col.six-eleven {
  width: 48.5454545455%;
}
.row.large-margin .col.seven-eleven {
  width: 57.6363636364%;
}
.row.large-margin .col.eight-eleven {
  width: 66.7272727273%;
}
.row.large-margin .col.nine-eleven {
  width: 75.8181818182%;
}
.row.large-margin .col.ten-eleven {
  width: 84.9090909091%;
}
.row.large-margin .col.eleven-eleven {
  width: 94%;
}
.row.large-margin .col.one-twelve {
  width: 2.3333333333%;
}
.row.large-margin .col.two-twelve {
  width: 10.6666666667%;
}
.row.large-margin .col.three-twelve {
  width: 19%;
}
.row.large-margin .col.four-twelve {
  width: 27.3333333333%;
}
.row.large-margin .col.five-twelve {
  width: 35.6666666667%;
}
.row.large-margin .col.six-twelve {
  width: 44%;
}
.row.large-margin .col.seven-twelve {
  width: 52.3333333333%;
}
.row.large-margin .col.eight-twelve {
  width: 60.6666666667%;
}
.row.large-margin .col.nine-twelve {
  width: 69%;
}
.row.large-margin .col.ten-twelve {
  width: 77.3333333333%;
}
.row.large-margin .col.eleven-twelve {
  width: 85.6666666667%;
}
.row.large-margin .col.twelve-twelve {
  width: 94%;
}
.row.large-margin > .col {
  margin: 3%;
}
@media screen and (max-width: 768px) {
  .row:not(.strict) > .col, .row:not(.strict) > [class*='col-'] {
    width: 98% !important;
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media screen and (max-width: 480px) {
  .row:not(.strict) *[class*='col-ms'] {
    margin: 1.5%;
  }
  .row:not(.strict) .col-ms-1 {
    width: 5.3333333333% !important;
  }
  .row:not(.strict) .col-ms-2 {
    width: 13.6666666667% !important;
  }
  .row:not(.strict) .col-ms-3 {
    width: 22% !important;
  }
  .row:not(.strict) .col-ms-4 {
    width: 30.3333333333% !important;
  }
  .row:not(.strict) .col-ms-5 {
    width: 38.6666666667% !important;
  }
  .row:not(.strict) .col-ms-6 {
    width: 47% !important;
  }
  .row:not(.strict) .col-ms-7 {
    width: 55.3333333333% !important;
  }
  .row:not(.strict) .col-ms-8 {
    width: 63.6666666667% !important;
  }
  .row:not(.strict) .col-ms-9 {
    width: 72% !important;
  }
  .row:not(.strict) .col-ms-10 {
    width: 80.3333333333% !important;
  }
  .row:not(.strict) .col-ms-11 {
    width: 88.6666666667% !important;
  }
  .row:not(.strict) .col-ms-12 {
    width: 97% !important;
  }
  .row:not(.strict).no-margin *[class*='col-ms'] {
    margin: 0%;
  }
  .row:not(.strict).no-margin .col-ms-1 {
    width: 8.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-ms-2 {
    width: 16.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-ms-3 {
    width: 25% !important;
  }
  .row:not(.strict).no-margin .col-ms-4 {
    width: 33.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-ms-5 {
    width: 41.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-ms-6 {
    width: 50% !important;
  }
  .row:not(.strict).no-margin .col-ms-7 {
    width: 58.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-ms-8 {
    width: 66.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-ms-9 {
    width: 75% !important;
  }
  .row:not(.strict).no-margin .col-ms-10 {
    width: 83.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-ms-11 {
    width: 91.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-ms-12 {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .row:not(.strict) *[class*='col-ml'] {
    margin: 1.5%;
  }
  .row:not(.strict) .col-ml-1 {
    width: 5.3333333333% !important;
  }
  .row:not(.strict) .col-ml-2 {
    width: 13.6666666667% !important;
  }
  .row:not(.strict) .col-ml-3 {
    width: 22% !important;
  }
  .row:not(.strict) .col-ml-4 {
    width: 30.3333333333% !important;
  }
  .row:not(.strict) .col-ml-5 {
    width: 38.6666666667% !important;
  }
  .row:not(.strict) .col-ml-6 {
    width: 47% !important;
  }
  .row:not(.strict) .col-ml-7 {
    width: 55.3333333333% !important;
  }
  .row:not(.strict) .col-ml-8 {
    width: 63.6666666667% !important;
  }
  .row:not(.strict) .col-ml-9 {
    width: 72% !important;
  }
  .row:not(.strict) .col-ml-10 {
    width: 80.3333333333% !important;
  }
  .row:not(.strict) .col-ml-11 {
    width: 88.6666666667% !important;
  }
  .row:not(.strict) .col-ml-12 {
    width: 97% !important;
  }
  .row:not(.strict).no-margin *[class*='col-ml'] {
    margin: 0;
  }
  .row:not(.strict).no-margin .col-ml-1 {
    width: 8.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-ml-2 {
    width: 16.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-ml-3 {
    width: 25% !important;
  }
  .row:not(.strict).no-margin .col-ml-4 {
    width: 33.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-ml-5 {
    width: 41.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-ml-6 {
    width: 50% !important;
  }
  .row:not(.strict).no-margin .col-ml-7 {
    width: 58.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-ml-8 {
    width: 66.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-ml-9 {
    width: 75% !important;
  }
  .row:not(.strict).no-margin .col-ml-10 {
    width: 83.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-ml-11 {
    width: 91.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-ml-12 {
    width: 100% !important;
  }
}
@media screen and (max-width: 1023px) and (min-width: 769px) {
  .row:not(.strict) *[class*='col-tl'] {
    margin: 1.5%;
  }
  .row:not(.strict) .col-tl-1 {
    width: 5.3333333333% !important;
  }
  .row:not(.strict) .col-tl-2 {
    width: 13.6666666667% !important;
  }
  .row:not(.strict) .col-tl-3 {
    width: 22% !important;
  }
  .row:not(.strict) .col-tl-4 {
    width: 30.3333333333% !important;
  }
  .row:not(.strict) .col-tl-5 {
    width: 38.6666666667% !important;
  }
  .row:not(.strict) .col-tl-6 {
    width: 47% !important;
  }
  .row:not(.strict) .col-tl-7 {
    width: 55.3333333333% !important;
  }
  .row:not(.strict) .col-tl-8 {
    width: 63.6666666667% !important;
  }
  .row:not(.strict) .col-tl-9 {
    width: 72% !important;
  }
  .row:not(.strict) .col-tl-10 {
    width: 80.3333333333% !important;
  }
  .row:not(.strict) .col-tl-11 {
    width: 88.6666666667% !important;
  }
  .row:not(.strict) .col-tl-12 {
    width: 97% !important;
  }
  .row:not(.strict).no-margin *[class*='col-tl'] {
    margin: 0;
  }
  .row:not(.strict).no-margin .col-tl-1 {
    width: 8.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-tl-2 {
    width: 16.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-tl-3 {
    width: 25% !important;
  }
  .row:not(.strict).no-margin .col-tl-4 {
    width: 33.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-tl-5 {
    width: 41.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-tl-6 {
    width: 50% !important;
  }
  .row:not(.strict).no-margin .col-tl-7 {
    width: 58.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-tl-8 {
    width: 66.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-tl-9 {
    width: 75% !important;
  }
  .row:not(.strict).no-margin .col-tl-10 {
    width: 83.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-tl-11 {
    width: 91.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-tl-12 {
    width: 100% !important;
  }
}
@media screen and (min-width: 1023px) {
  .row:not(.strict) *[class*='col-dt'] {
    margin: 1.5%;
  }
  .row:not(.strict) .col-dt-1 {
    width: 5.3333333333% !important;
  }
  .row:not(.strict) .col-dt-2 {
    width: 13.6666666667% !important;
  }
  .row:not(.strict) .col-dt-3 {
    width: 22% !important;
  }
  .row:not(.strict) .col-dt-4 {
    width: 30.3333333333% !important;
  }
  .row:not(.strict) .col-dt-5 {
    width: 38.6666666667% !important;
  }
  .row:not(.strict) .col-dt-6 {
    width: 47% !important;
  }
  .row:not(.strict) .col-dt-7 {
    width: 55.3333333333% !important;
  }
  .row:not(.strict) .col-dt-8 {
    width: 63.6666666667% !important;
  }
  .row:not(.strict) .col-dt-9 {
    width: 72% !important;
  }
  .row:not(.strict) .col-dt-10 {
    width: 80.3333333333% !important;
  }
  .row:not(.strict) .col-dt-11 {
    width: 88.6666666667% !important;
  }
  .row:not(.strict) .col-dt-12 {
    width: 97% !important;
  }
  .row:not(.strict).no-margin *[class*='col-dt'] {
    margin: 0;
  }
  .row:not(.strict).no-margin .col-dt-1 {
    width: 8.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-dt-2 {
    width: 16.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-dt-3 {
    width: 25% !important;
  }
  .row:not(.strict).no-margin .col-dt-4 {
    width: 33.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-dt-5 {
    width: 41.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-dt-6 {
    width: 50% !important;
  }
  .row:not(.strict).no-margin .col-dt-7 {
    width: 58.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-dt-8 {
    width: 66.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-dt-9 {
    width: 75% !important;
  }
  .row:not(.strict).no-margin .col-dt-10 {
    width: 83.3333333333% !important;
  }
  .row:not(.strict).no-margin .col-dt-11 {
    width: 91.6666666667% !important;
  }
  .row:not(.strict).no-margin .col-dt-12 {
    width: 100% !important;
  }
}

html, body {
  height: 100%;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.frost, #app {
  font: 100% "Open Sans", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}
.frost .header, .frost .footer, #app .header, #app .footer {
  -webkit-box-flex: 0;
  -ms-flex: none;
  -webkit-flex: none;
  -moz-box-flex: 0;
  flex: none;
}
.frost .main, .frost .wrap, #app .main, #app .wrap {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  flex: 1 0 auto;
  position: relative;
}

.hide {
  display: none;
}

.no-select {
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.no-pointer {
  pointer-events: none;
}

@media screen and (min-width: 480px) {
  .mobile-small-only {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .touch-only {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .desktop-only {
    display: none !important;
  }
}
.mobile-large-only {
  display: none !important;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .mobile-large-only {
    display: block !important;
  }
}
.tablet-only {
  display: none !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .tablet-only {
    display: block !important;
  }
}
.buttons {
  text-align: center;
}
.buttons button, .buttons .button {
  margin: 5px;
  vertical-align: middle;
}

button, .button {
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center !important;
  padding: 0 1.5em;
  line-height: 35px;
  height: 35px;
  min-width: 100px;
  font-size: 15px;
  font-style: normal;
  font-family: inherit;
  font-weight: normal;
  border: none;
  overflow: hidden;
  outline: none;
  border-radius: 3px;
}
button::-moz-focus-inner, .button::-moz-focus-inner {
  border: 0;
}
button, .button {
  background: #1c77c3;
  color: white;
}
button.s, .button.s {
  line-height: 33px;
  border: 1px solid currentColor;
  background: inherit;
  color: #1c77c3;
}
button.s.no-outline, .button.s.no-outline {
  border: none;
}
button:disabled, .button:disabled {
  line-height: 35px;
  border: none;
  background: rgba(0, 0, 0, 0.15);
  color: grey;
  cursor: not-allowed;
}
button.close, .button.close {
  color: white;
  width: 35px;
  height: 35px;
  line-height: 35px;
  content: '';
  padding: 0;
  min-width: unset;
  border-radius: 50%;
  position: relative;
}
button.close:after, button.close:before, .button.close:after, .button.close:before {
  height: 3px;
  width: 18px;
  background: currentColor;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -9px;
  margin-top: -1.5px;
}
button.close:after, .button.close:after {
  transform: rotate(-45deg);
}
button.close:before, .button.close:before {
  transform: rotate(45deg);
}
button.close.s, .button.close.s {
  color: grey;
  background: inherit;
  border: 1px solid currentColor;
}
button.close.s, .button.close.s {
  color: #1c77c3;
}
button.loading, .button.loading {
  min-width: unset;
  padding: 6px;
  height: 35px;
  line-height: 35px;
  width: 35px;
}
button.loading:before, .button.loading:before {
  display: inline-block;
  height: 17px;
  width: 17px;
  border: 3px solid currentColor;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: loading-button 1s linear infinite;
}
button.default, .button.default {
  background: transparent;
  padding: 0 .25em;
  color: inherit;
  min-width: unset;
  line-height: initial;
  height: auto;
}

a {
  text-decoration: inherit;
  font: inherit;
  color: inherit;
  outline: none;
}

hr {
  border-style: solid;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  min-width: 200px;
  max-width: 450px;
}
.input input, .input label, .input span, .input i {
  display: block;
  background: none;
}
.input .help-text {
  display: block;
}
.input > input, .input.textarea > textarea {
  color: inherit;
  border: 2px solid currentColor;
}
.input input {
  font: inherit;
  color: inherit;
}
.input input:disabled {
  color: gray;
  background: rgba(0, 0, 0, 0.15);
  pointer-events: none;
  cursor: not-allowed;
}
.input input:disabled + label {
  color: gray;
  background: none;
}
.input:before {
  line-height: 17px;
  font-size: 13px;
  padding-left: 20px;
}
.input.is-valid {
  color: #06CE4C;
}
.input.is-invalid {
  color: #db222a;
}
.input.animated {
  padding-top: 20px;
  position: relative;
}
.input.animated input {
  border: none;
}
.input.animated input + label {
  position: absolute;
  line-height: 35px;
  padding-left: 15px;
  border-bottom: 2px solid currentColor;
  width: 100%;
  left: 0;
  padding-left: 5px;
}
.input.animated.has-data input + label, .input.animated input:focus + label {
  line-height: 100px;
}
.input.animated input, .input.animated label, .input.animated label:after {
  transition: all 0.25s ease;
}
.input.file {
  display: inline-block;
}
.input.file input[type='file'], .input.file input[type='image'] {
  border: none;
  height: 0px;
  width: 0px;
  font-size: 0;
}
.input.file input[type='file'] + label, .input.file input[type='image'] + label {
  text-align: center !important;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}
.input.file.has-file input + label {
  background: #1c77c3;
  color: white;
}
.input.textarea {
  max-width: none;
}
.input.textarea input, .input.textarea label {
  display: none;
}
.input.textarea textarea, .input.textarea label, .input.textarea span {
  display: block;
}
.input.textarea.h textarea {
  resize: horizontal;
}
.input.textarea.v textarea {
  resize: vertical;
}
.input.textarea.no-resize textarea {
  resize: none;
}
.input.select {
  display: inline-block;
  position: relative;
}
.input.select select {
  position: relative;
  outline: none;
  background: transparent;
}
.input.select:after {
  border: 2px solid red;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-25%);
  margin-top: 2px;
  border: 10px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.25);
}
.input.select.c select {
  text-align: center;
}
.input.select.group {
  max-width: none;
  display: flex;
  flex-direction: row;
}
.input.pills {
  display: block;
  max-width: none;
}
.input.pills .pill {
  vertical-align: middle;
  display: inline-block;
  margin: 5px;
}
.input.pills .pill input + label {
  padding: 0 1.5em;
  height: auto;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.input.pills.c {
  text-align: center;
}
.input.pills.b {
  flex-direction: column;
}
.input.pills.b .pill label {
  width: 100%;
  line-height: normal;
  height: auto;
  padding: 10px;
}
.input.toggle input + label {
  position: relative;
  height: 37.5px;
  width: 75px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 18.75px;
  transition: all 0.5s ease;
}
.input.toggle input + label:before {
  right: auto;
  position: absolute;
  left: 1px;
  top: 1px;
  right: unset;
  height: 35.5px;
  width: 35.5px;
  border-radius: 50%;
  background: white;
}
.input.toggle input:checked + label {
  background: #1c77c3;
}
.input.toggle input:checked + label:before {
  left: unset;
  right: 1px;
}

fieldset {
  border-style: solid;
  padding: 1.5em 1em;
}
fieldset legend {
  display: block;
}

.icon.button:before, .icon.typ:before, .icon.txt:before {
  line-height: inherit;
  width: 40px;
  text-align: center;
  display: inline-block;
}

.section, section {
  padding: 1em;
  width: 100%;
}
.section.full, section.full {
  height: 100%;
  height: 100vh;
}

.modal.dark {
  color: white;
  background: black;
}
.modal.lite {
  color: black;
  background: white;
}
.modal .modal-close {
  position: absolute;
  top: 0;
  left: 0;
}
.modal .modal-close.r {
  left: unset;
  right: 0;
}

.align {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
  height: 100%;
  text-align: initial !important;
}
.align.right {
  justify-content: flex-end;
}
.align.left {
  justify-content: flex-start;
}
.align .top {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.align .bottom {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

*[class*='pd-'], .pd {
  padding: 2rem;
  /*

  &[class*='-xs-h']
  &[class*='-s-h']
  &[class*='-l-h']
  &[class*='-xl-h']

  &[class*='-xs-v']
  &[class*='-s-v']
  &[class*='-l-v']
  &[class*='-xl-v']

  */
}
*[class*='pd-'][class*='-xl'], .pd[class*='-xl'] {
  padding: 10rem;
}
*[class*='pd-'][class*='-l'], .pd[class*='-l'] {
  padding: 6rem;
}
*[class*='pd-'][class*='-s'], .pd[class*='-s'] {
  padding: 1.5rem;
}
*[class*='pd-'][class*='-xs'], .pd[class*='-xs'] {
  padding: 1rem;
}
*[class*='pd-'][class*='-h'], .pd[class*='-h'] {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
*[class*='pd-'][class*='-v'], .pd[class*='-v'] {
  padding-left: 0;
  padding-right: 0;
}
*[class*='pd-'][class*='-none'], .pd[class*='-none'] {
  padding: 0 !important;
}

ul {
  display: block;
}
ul li {
  list-style-type: none;
}

.c > ul {
  display: inline-block;
}

.menu .-menu {
  text-align: inherit;
}
.menu ul li a {
  display: block;
}
@media screen and (max-width: 768px) {
  .menu.header-menu {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 500;
  }
  .menu.header-menu .-menu {
    background: #1c77c3;
    color: white;
    box-shadow: 0 0 25px -10px;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    left: 0;
    width: 250px;
  }
  .menu.header-menu .-menu.r {
    right: 0;
    left: unset;
    transform: translateX(100%);
  }
  .menu.header-menu.is-active {
    visibility: visible;
    opacity: 1;
  }
  .menu.header-menu.is-active .-menu {
    transform: translateX(0%);
  }
  .menu.header-menu, .menu.header-menu .-menu {
    transition: all 0.5s ease;
  }
  .menu.header-menu .-menu ul li {
    display: block;
  }
}
.menu.dropdown {
  line-height: 35px;
  position: relative;
}
.menu.dropdown .dropdown-menu {
  position: absolute;
  width: 100%;
}
.menu.dropdown .dropdown-button {
  display: block;
}

.puller {
  position: relative;
  z-index: 5000;
  height: 4em;
  width: 4em;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  cursor: pointer;
}
.puller:focus {
  background: transparent;
}
.puller.left {
  float: left;
}
.puller.right {
  float: right;
}
.puller [class*='ham'] {
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.puller [class*='ham']:before {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.puller [class*='ham']:after {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.puller [class*='ham'], .puller [class*='ham']:before, .puller [class*='ham']:after {
  position: absolute;
  content: '';
  color: inherit;
  background: currentColor;
  display: block;
  height: 5px;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}
.puller [class*='ham'].ham, .puller [class*='ham'].ham:before, .puller [class*='ham'].ham:after {
  width: 40px;
}
.puller [class*='ham'].rounded, .puller [class*='ham'].rounded:before, .puller [class*='ham'].rounded:after {
  border-radius: 2.5px;
}
.puller [class*='ham'].hamE {
  width: 24px;
}
.puller [class*='ham'].hamE:before {
  width: 44px;
}
.puller [class*='ham'].hamE:after {
  width: 36px;
}
.puller [class*='ham'].hamF {
  width: 36px;
}
.puller [class*='ham'].hamF:before {
  width: 44px;
}
.puller [class*='ham'].hamF:after {
  width: 24px;
}
.puller [class*='ham'].double {
  height: 0;
}
.puller [class*='ham'].double:before, .puller [class*='ham'].double:after {
  height: 5px;
}
.puller [class*='ham'].double:before {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.puller [class*='ham'].double:after {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.puller [class*='ham'].double.hamE:before, .puller [class*='ham'].double.hamF:before {
  width: 44px;
}
.puller [class*='ham'].double.hamE:after, .puller [class*='ham'].double.hamF:after {
  width: 32px;
}
.puller.is-active {
  color: #1c77c3;
}
.puller.is-active [class*='ham'] {
  background: transparent;
}
.puller.is-active [class*='ham'], .puller.is-active [class*='ham']:before, .puller.is-active [class*='ham']:after {
  width: 40px !important;
}
.puller.is-active [class*='ham']:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.puller.is-active [class*='ham']:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

h1.typ, h2.typ, h3.typ, h4.typ, h5.typ, h6.typ, span.typ, a.typ, i.typ, p.typ, legend.typ {
  display: block;
}
h1.txt, h2.txt, h3.txt, h4.txt, h5.txt, h6.txt, span.txt, a.txt, i.txt, p.txt, legend.txt {
  display: inline-block;
}
h1.typ, h1.txt, h2.typ, h2.txt, h3.typ, h3.txt, h4.typ, h4.txt, h5.typ, h5.txt, h6.typ, h6.txt, span.typ, span.txt, a.typ, a.txt, i.typ, i.txt, p.typ, p.txt, legend.typ, legend.txt {
  text-align: initial !important;
  font-weight: 400;
}
h1.typ.c, h1.txt.c, h2.typ.c, h2.txt.c, h3.typ.c, h3.txt.c, h4.typ.c, h4.txt.c, h5.typ.c, h5.txt.c, h6.typ.c, h6.txt.c, span.typ.c, span.txt.c, a.typ.c, a.txt.c, i.typ.c, i.txt.c, p.typ.c, p.txt.c, legend.typ.c, legend.txt.c {
  text-align: center !important;
}
h1.typ.r, h1.txt.r, h2.typ.r, h2.txt.r, h3.typ.r, h3.txt.r, h4.typ.r, h4.txt.r, h5.typ.r, h5.txt.r, h6.typ.r, h6.txt.r, span.typ.r, span.txt.r, a.typ.r, a.txt.r, i.typ.r, i.txt.r, p.typ.r, p.txt.r, legend.typ.r, legend.txt.r {
  text-align: right !important;
}
h1.typ.thick, h1.typ .bold, h1.txt.thick, h1.txt .bold, h2.typ.thick, h2.typ .bold, h2.txt.thick, h2.txt .bold, h3.typ.thick, h3.typ .bold, h3.txt.thick, h3.txt .bold, h4.typ.thick, h4.typ .bold, h4.txt.thick, h4.txt .bold, h5.typ.thick, h5.typ .bold, h5.txt.thick, h5.txt .bold, h6.typ.thick, h6.typ .bold, h6.txt.thick, h6.txt .bold, span.typ.thick, span.typ .bold, span.txt.thick, span.txt .bold, a.typ.thick, a.typ .bold, a.txt.thick, a.txt .bold, i.typ.thick, i.typ .bold, i.txt.thick, i.txt .bold, p.typ.thick, p.typ .bold, p.txt.thick, p.txt .bold, legend.typ.thick, legend.typ .bold, legend.txt.thick, legend.txt .bold {
  font-weight: bold;
  font-weight: 700;
}
h1.typ.thin, h1.typ .light, h1.txt.thin, h1.txt .light, h2.typ.thin, h2.typ .light, h2.txt.thin, h2.txt .light, h3.typ.thin, h3.typ .light, h3.txt.thin, h3.txt .light, h4.typ.thin, h4.typ .light, h4.txt.thin, h4.txt .light, h5.typ.thin, h5.typ .light, h5.txt.thin, h5.txt .light, h6.typ.thin, h6.typ .light, h6.txt.thin, h6.txt .light, span.typ.thin, span.typ .light, span.txt.thin, span.txt .light, a.typ.thin, a.typ .light, a.txt.thin, a.txt .light, i.typ.thin, i.typ .light, i.txt.thin, i.txt .light, p.typ.thin, p.typ .light, p.txt.thin, p.txt .light, legend.typ.thin, legend.typ .light, legend.txt.thin, legend.txt .light {
  font-weight: lighter;
  font-weight: 300;
}
h1.typ.xxl, h1.txt.xxl, h2.typ.xxl, h2.txt.xxl, h3.typ.xxl, h3.txt.xxl, h4.typ.xxl, h4.txt.xxl, h5.typ.xxl, h5.txt.xxl, h6.typ.xxl, h6.txt.xxl, span.typ.xxl, span.txt.xxl, a.typ.xxl, a.txt.xxl, i.typ.xxl, i.txt.xxl, p.typ.xxl, p.txt.xxl, legend.typ.xxl, legend.txt.xxl {
  font-size: 85px;
}
h1.typ.xl, h1.txt.xl, h2.typ.xl, h2.txt.xl, h3.typ.xl, h3.txt.xl, h4.typ.xl, h4.txt.xl, h5.typ.xl, h5.txt.xl, h6.typ.xl, h6.txt.xl, span.typ.xl, span.txt.xl, a.typ.xl, a.txt.xl, i.typ.xl, i.txt.xl, p.typ.xl, p.txt.xl, legend.typ.xl, legend.txt.xl {
  font-size: 68px;
}
h1.typ.l, h1.txt.l, h2.typ.l, h2.txt.l, h3.typ.l, h3.txt.l, h4.typ.l, h4.txt.l, h5.typ.l, h5.txt.l, h6.typ.l, h6.txt.l, span.typ.l, span.txt.l, a.typ.l, a.txt.l, i.typ.l, i.txt.l, p.typ.l, p.txt.l, legend.typ.l, legend.txt.l {
  font-size: 34px;
}
h1.typ.n, h1.txt.n, h2.typ.n, h2.txt.n, h3.typ.n, h3.txt.n, h4.typ.n, h4.txt.n, h5.typ.n, h5.txt.n, h6.typ.n, h6.txt.n, span.typ.n, span.txt.n, a.typ.n, a.txt.n, i.typ.n, i.txt.n, p.typ.n, p.txt.n, legend.typ.n, legend.txt.n {
  font-size: 17px;
}
h1.typ.s, h1.txt.s, h2.typ.s, h2.txt.s, h3.typ.s, h3.txt.s, h4.typ.s, h4.txt.s, h5.typ.s, h5.txt.s, h6.typ.s, h6.txt.s, span.typ.s, span.txt.s, a.typ.s, a.txt.s, i.typ.s, i.txt.s, p.typ.s, p.txt.s, legend.typ.s, legend.txt.s {
  font-size: 14.45px;
}
h1.typ.xs, h1.txt.xs, h2.typ.xs, h2.txt.xs, h3.typ.xs, h3.txt.xs, h4.typ.xs, h4.txt.xs, h5.typ.xs, h5.txt.xs, h6.typ.xs, h6.txt.xs, span.typ.xs, span.txt.xs, a.typ.xs, a.txt.xs, i.typ.xs, i.txt.xs, p.typ.xs, p.txt.xs, legend.typ.xs, legend.txt.xs {
  font-size: 11.05px;
}
h1.typ.xxs, h1.txt.xxs, h2.typ.xxs, h2.txt.xxs, h3.typ.xxs, h3.txt.xxs, h4.typ.xxs, h4.txt.xxs, h5.typ.xxs, h5.txt.xxs, h6.typ.xxs, h6.txt.xxs, span.typ.xxs, span.txt.xxs, a.typ.xxs, a.txt.xxs, i.typ.xxs, i.txt.xxs, p.typ.xxs, p.txt.xxs, legend.typ.xxs, legend.txt.xxs {
  font-size: 8.5px;
}
h1.typ.lc, h1.txt.lc, h2.typ.lc, h2.txt.lc, h3.typ.lc, h3.txt.lc, h4.typ.lc, h4.txt.lc, h5.typ.lc, h5.txt.lc, h6.typ.lc, h6.txt.lc, span.typ.lc, span.txt.lc, a.typ.lc, a.txt.lc, i.typ.lc, i.txt.lc, p.typ.lc, p.txt.lc, legend.typ.lc, legend.txt.lc {
  text-transform: lowercase;
}
h1.typ.uc, h1.txt.uc, h2.typ.uc, h2.txt.uc, h3.typ.uc, h3.txt.uc, h4.typ.uc, h4.txt.uc, h5.typ.uc, h5.txt.uc, h6.typ.uc, h6.txt.uc, span.typ.uc, span.txt.uc, a.typ.uc, a.txt.uc, i.typ.uc, i.txt.uc, p.typ.uc, p.txt.uc, legend.typ.uc, legend.txt.uc {
  text-transform: uppercase;
}
h1.typ.cp, h1.txt.cp, h2.typ.cp, h2.txt.cp, h3.typ.cp, h3.txt.cp, h4.typ.cp, h4.txt.cp, h5.typ.cp, h5.txt.cp, h6.typ.cp, h6.txt.cp, span.typ.cp, span.txt.cp, a.typ.cp, a.txt.cp, i.typ.cp, i.txt.cp, p.typ.cp, p.txt.cp, legend.typ.cp, legend.txt.cp {
  text-transform: capitalize;
}
h1.typ.it, h1.txt.it, h2.typ.it, h2.txt.it, h3.typ.it, h3.txt.it, h4.typ.it, h4.txt.it, h5.typ.it, h5.txt.it, h6.typ.it, h6.txt.it, span.typ.it, span.txt.it, a.typ.it, a.txt.it, i.typ.it, i.txt.it, p.typ.it, p.txt.it, legend.typ.it, legend.txt.it {
  font-style: italic;
}
h1.typ.ul, h1.txt.ul, h2.typ.ul, h2.txt.ul, h3.typ.ul, h3.txt.ul, h4.typ.ul, h4.txt.ul, h5.typ.ul, h5.txt.ul, h6.typ.ul, h6.txt.ul, span.typ.ul, span.txt.ul, a.typ.ul, a.txt.ul, i.typ.ul, i.txt.ul, p.typ.ul, p.txt.ul, legend.typ.ul, legend.txt.ul {
  text-decoration: underline;
}
h1.typ.st, h1.txt.st, h2.typ.st, h2.txt.st, h3.typ.st, h3.txt.st, h4.typ.st, h4.txt.st, h5.typ.st, h5.txt.st, h6.typ.st, h6.txt.st, span.typ.st, span.txt.st, a.typ.st, a.txt.st, i.typ.st, i.txt.st, p.typ.st, p.txt.st, legend.typ.st, legend.txt.st {
  /*strikethrough*/
  text-decoration: line-through;
}
h1.typ.ul.--dash, h1.typ.st.--dash, h1.txt.ul.--dash, h1.txt.st.--dash, h2.typ.ul.--dash, h2.typ.st.--dash, h2.txt.ul.--dash, h2.txt.st.--dash, h3.typ.ul.--dash, h3.typ.st.--dash, h3.txt.ul.--dash, h3.txt.st.--dash, h4.typ.ul.--dash, h4.typ.st.--dash, h4.txt.ul.--dash, h4.txt.st.--dash, h5.typ.ul.--dash, h5.typ.st.--dash, h5.txt.ul.--dash, h5.txt.st.--dash, h6.typ.ul.--dash, h6.typ.st.--dash, h6.txt.ul.--dash, h6.txt.st.--dash, span.typ.ul.--dash, span.typ.st.--dash, span.txt.ul.--dash, span.txt.st.--dash, a.typ.ul.--dash, a.typ.st.--dash, a.txt.ul.--dash, a.txt.st.--dash, i.typ.ul.--dash, i.typ.st.--dash, i.txt.ul.--dash, i.txt.st.--dash, p.typ.ul.--dash, p.typ.st.--dash, p.txt.ul.--dash, p.txt.st.--dash, legend.typ.ul.--dash, legend.typ.st.--dash, legend.txt.ul.--dash, legend.txt.st.--dash {
  -webkit-text-decoration-style: dashed;
  text-decoration-style: dashed;
}
h1.typ.ul.--dotted, h1.typ.st.--dotted, h1.txt.ul.--dotted, h1.txt.st.--dotted, h2.typ.ul.--dotted, h2.typ.st.--dotted, h2.txt.ul.--dotted, h2.txt.st.--dotted, h3.typ.ul.--dotted, h3.typ.st.--dotted, h3.txt.ul.--dotted, h3.txt.st.--dotted, h4.typ.ul.--dotted, h4.typ.st.--dotted, h4.txt.ul.--dotted, h4.txt.st.--dotted, h5.typ.ul.--dotted, h5.typ.st.--dotted, h5.txt.ul.--dotted, h5.txt.st.--dotted, h6.typ.ul.--dotted, h6.typ.st.--dotted, h6.txt.ul.--dotted, h6.txt.st.--dotted, span.typ.ul.--dotted, span.typ.st.--dotted, span.txt.ul.--dotted, span.txt.st.--dotted, a.typ.ul.--dotted, a.typ.st.--dotted, a.txt.ul.--dotted, a.txt.st.--dotted, i.typ.ul.--dotted, i.typ.st.--dotted, i.txt.ul.--dotted, i.txt.st.--dotted, p.typ.ul.--dotted, p.typ.st.--dotted, p.txt.ul.--dotted, p.txt.st.--dotted, legend.typ.ul.--dotted, legend.typ.st.--dotted, legend.txt.ul.--dotted, legend.txt.st.--dotted {
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
}
h1.typ.ul.--double, h1.typ.st.--double, h1.txt.ul.--double, h1.txt.st.--double, h2.typ.ul.--double, h2.typ.st.--double, h2.txt.ul.--double, h2.txt.st.--double, h3.typ.ul.--double, h3.typ.st.--double, h3.txt.ul.--double, h3.txt.st.--double, h4.typ.ul.--double, h4.typ.st.--double, h4.txt.ul.--double, h4.txt.st.--double, h5.typ.ul.--double, h5.typ.st.--double, h5.txt.ul.--double, h5.txt.st.--double, h6.typ.ul.--double, h6.typ.st.--double, h6.txt.ul.--double, h6.txt.st.--double, span.typ.ul.--double, span.typ.st.--double, span.txt.ul.--double, span.txt.st.--double, a.typ.ul.--double, a.typ.st.--double, a.txt.ul.--double, a.txt.st.--double, i.typ.ul.--double, i.typ.st.--double, i.txt.ul.--double, i.txt.st.--double, p.typ.ul.--double, p.typ.st.--double, p.txt.ul.--double, p.txt.st.--double, legend.typ.ul.--double, legend.typ.st.--double, legend.txt.ul.--double, legend.txt.st.--double {
  -webkit-text-decoration-style: double;
  text-decoration-style: double;
}

p.typ {
  line-height: 180%;
}
p.typ.tall {
  line-height: 210%;
}
p.typ.short {
  line-height: 160%;
}

.tab-wrapper .tabs .tabs-list, .tab-wrapper .tabs ul {
  overflow: auto;
  display: flex;
  flex-direction: row;
}
.tab-wrapper .tabs .tabs-list.c, .tab-wrapper .tabs ul.c {
  align-items: center;
}
.tab-wrapper .tabs .tabs-list.tab-wrap, .tab-wrapper .tabs ul.tab-wrap {
  flex-wrap: nowrap;
}
.tab-wrapper .tabs .tabs-list .tabs, .tab-wrapper .tabs .tabs-list li, .tab-wrapper .tabs ul .tabs, .tab-wrapper .tabs ul li {
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0 1em;
  flex-basis: 80px;
  text-align: center;
  cursor: pointer;
  line-height: 50px;
}
.tab-wrapper .tabs .tabs-list .tabs > a, .tab-wrapper .tabs .tabs-list li > a, .tab-wrapper .tabs ul .tabs > a, .tab-wrapper .tabs ul li > a {
  display: block;
}
.tab-wrapper .tabs .tabs-list .tabs.is-active, .tab-wrapper .tabs .tabs-list li.is-active, .tab-wrapper .tabs ul .tabs.is-active, .tab-wrapper .tabs ul li.is-active {
  color: #1c77c3;
  border-bottom: 2px solid currentColor;
}
.tab-wrapper .content-tabs {
  position: relative;
}
.tab-wrapper .content-tabs .content-tab {
  min-height: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
  display: none;
}
.tab-wrapper .content-tabs .content-tab.is-active {
  display: block;
}

.box {
  padding: 1em;
  background: white;
  color: black;
}
.box.dark {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.card {
  padding: 1em;
  -webkit-box-shadow: 0 0 20px -10px;
  -moz-box-shadow: 0 0 20px -10px;
  box-shadow: 0 0 20px -10px;
}

.message, .message-box, .message-card {
  overflow: auto;
  display: inline-block;
}
.message > div, .message-box > div, .message-card > div {
  float: left;
  clear: both;
  width: 100%;
}
.message .message-header, .message-box .message-header, .message-card .message-header {
  padding: 1em;
  border-bottom: 1px solid grey;
}
.message .message-content, .message-box .message-content, .message-card .message-content {
  padding: 1em 2em;
  font-size: 15px;
  line-height: 170%;
}
