@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');


//event colors
$red: #F6511D;
$green :  #12BC3A;
$amber : #FFB400;

//base colors
$text-color-base: #000;
$text-color-light: #fff;

//background
$background-base : #fff;
$background-dark : #333;

//accent
$accent-color: #00A6ED;


//fonts
$font-family : 'Open Sans', serif;

$font-m : 1.25rem;

$font-xxl: 4.5rem;
$font-xl : 3.5rem;
$font-l  : 2.5rem;
$font-s  : 1rem;
$font-xs : 0.85rem;
$font-xxs: 0.75rem;

//buttons
$button-height: 35px;
$button-border-radius: 3px;
$button-border-width: 1px;

//forms
$input-height: 40px;
$input-border-radius : 3px;
