html,
body {
  height: 100%;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body,
.frost,
#frost {
  font-smooth: always;
  font: 100% sans-serif;
  display: flex;
  flex-direction: column;
  header,
  .header,
  footer,
  .footer {
    flex: none;
  }

  .main,
  .wrap {
    flex: 1 0 auto;
    position: relative;
  }
}


header,
.header{
  display: flex;
  &.-b,.block{
    display: flex;
  }
  .ml-a{
    margin-left: auto
  }

  .mr-a{
    margin-right: auto;
  }
}

// general rules

.show {
  @include show;
}

.hide {
  @include hide;
  &.-f {
    display: none;
  }
}

.no-select {
  @include no-select;
}

.no-pointer {
  pointer-events: none;
}
