html,
body {
  height: 100%;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body,
.frost,
#frost {
  font-smooth: always;
  font: 100% sans-serif;
  display: flex;
  flex-direction: column;
}

main,
.main,
.wrap {
  flex: 1 0 auto;
  position: relative;
}

header,
.header {
  flex: none;
  display: flex;
  flex-direction: row;
  &.-b,
  .block {
    display: block;
  }
  .header-right {
    margin-left: auto;
  }

  .header-left {
    margin-right: auto;
  }
  &.center,&.-c{
    align-content: center;
    justify-content: center;
  }
}

// general rules

.show {
  @include show;
}

.hide {
  @include hide;
  &.-f {
    display: none;
  }
}

.no-select {
  @include no-select;
}

.no-pointer {
  pointer-events: none;
}
