//DISPLAY CONTROL

// mobile small
@media screen and(min-width:480px){
  .mobile-small-only{
    display: none !important
  }
}

// mobile large
@media screen and (min-width:769px){
  .mobile-only{
    display: none !important;
  }
}

//non-mobile only
@media screen and(max-width:768px){
  .non-mobile-only{
    display: none !important;
  }
}

// touch only
@media screen and (min-width:1024px){
  .touch-only{
    display: none !important;
  }
}

// desktop only
@media screen and (max-width: 1024px){
  .desktop-only{
    display: none !important;
  }
}

// mobile-large-only & tablet-only
.mobile-large-only,
.tablet-only{
  display: none !important;
}

@media screen and (min-width:480px) and(max-width:768px){
  .mobile-large-only{
    display: block !important;
  }
}

@media screen and (min-width:768px) and(max-width:1024px){
  .tablet-only{
    display: block !important;
  }
}
