//buttons
$button-height-default: 40px;
$button-border-radius-default: 3px;
$button-border-width-default: 1px;
$button-padding-default: 1em;

$button-height: if(
  variable_exists(button-height),
  $button-height,
  $button-height-default
);
$button-border-radius: if(
  variable_exists(button-border-radius),
  $button-border-radius,
  $button-border-radius-default
);
$button-border-width: if(
  variable_exists(button-border-width),
  $button-border-width,
  $button-border-width-default
);
$button-padding: if(
  variable_exists(button-padding),
  $button-padding,
  $button-padding-default
);

@function button-s-line-height() {
  $line-height: $button-height - (2 * $button-border-width);
  @return $line-height;
}

.buttons {
  text-align: center;
  button,
  .button {
    margin: 5px;
    vertical-align: middle;
  }
}

button,
.button {
  @include no-select;
  @include button($button-height);
  @if ($button-border-radius) {
    border-radius: $button-border-radius;
  }

  //primary
  & {
    background: $accent-color;
    color: white;
  }

  // secondary
  &.-s,
  &.secondary{
    background: $alt-color;
  }


  &.outline {
    line-height: button-s-line-height();
    border: $button-border-width solid currentColor;
    background: transparent;
    color: $accent-color;
    &.-s,&.secondary{
      color: $alt-color;
    }
  }

  //block
  &.-b,
  &.block{
    display: block;
    width: 100%;
  }


  // disabled
  &:disabled,
  &.disabled {
    line-height: $button-height;
    border: none;
    background: rgba(black, 0.15);
    color: grey;
    cursor: not-allowed;
  }

  // SPECIAL/EVENT BUTTONS

  //close
  &.close {
    color: white;
    @include close-button($button-height);
    &.s {
      color: $accent-color;
    }
  }

  //loading
  &.loading {
    @include loading-button($button-height);
  }

  // NO STYLING

  //default
  &.default,
  &.no-props {
    background: transparent;
    padding: 0 0.25em;
    color: inherit;
    min-width: unset;
    line-height: initial;
    height: auto;
  }
}
