//fonts

$font-n-default: 18px;

$font-xxl-default: 50px;
$font-xl-default: 45px;
$font-l-default: 30px;
$font-s-default: 15px;
$font-xs-default: 12px;

$font-n: if(variable_exists(font-n), $font-n, $font-n-default);
$font-xxl: if(variable_exists(font-xxl), $font-xxl, $font-xxl-default);
$font-xl: if(variable_exists(font-xl), $font-xl, $font-xl-default);
$font-l: if(variable_exists(font-l), $font-l, $font-l-default);
$font-s: if(variable_exists(font-s), $font-s, $font-s-default);
$font-xs: if(variable_exists(font-xs), $font-xs, $font-xs-default);

h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
i,
p,
legend {
  &.typ {
    padding: 0.67em;
    display: block;

    &.no-margin {
      margin: 0;
    }
  }

  &.txt {
    display: inline-block;
  }

  &.typ,
  &.txt {
    font-weight: 400;

    //align
    &.c {
      text-align: center !important;
    }
    &.r {
      text-align: right !important;
    }

    // WEIGHT

    &.black {
      font-weight: 900;
    }

    &.thick,
    &.bold {
      font-weight: 700;
    }

    //semibold
    &.semi-bold {
      font-weight: 600;
    }

    //medium
    &.medium {
      font-weight: 500;
    }

    &.thin,
    &.light {
      font-weight: 300;
    }

    //sizes
    &.xxl {
      font-size: $font-xxl;
    }
    &.xl {
      font-size: $font-xl;
    }
    &.l {
      font-size: $font-l;
    }
    &.n {
      font-size: $font-n;
    }
    &.s {
      font-size: $font-s;
    }
    &.xs {
      font-size: $font-xs;
    }

    //responsive sizes

    //cases
    &.lc {
      text-transform: lowercase;
    }
    &.uc {
      text-transform: uppercase;
    }
    &.cp {
      text-transform: capitalize;
    }

    //styles
    &.it {
      font-style: italic;
    }
    &.ul {
      text-decoration: underline;
    }
    &.st {
      /*strikethrough*/
      text-decoration: line-through;
    }

    //decoration styles
    &.ul,
    &.st {
      &.--dash {
        -webkit-text-decoration-style: dashed;
        text-decoration-style: dashed;
      }
      &.--dotted {
        -webkit-text-decoration-style: dotted;
        text-decoration-style: dotted;
      }
      &.--double {
        -webkit-text-decoration-style: double;
        text-decoration-style: double;
      }
    }
  }
}

//paragraphs
p {
  &.typ {
    line-height: 180%;

    //line-height size
    &.tall {
      line-height: 210%;
    }
    &.short {
      line-height: 160%;
    }
  }
}
