%input-props{
  background: none;
  border-radius: 2px;
  height: $input-height;
  line-height: $input-height;
  padding: 0 5px;
  outline: none;
}

%label-props{
  color: inherit;
  text-align: left;
  font-size: 15px;
  padding: 5px;
}

%input-helptext{
  display: block;
  content: attr(data-text);
}

%animated-input-props{
  @extend %input-props;
  border: none;
}

//for radio/checkbox
%selectable-label{
  input{
    @extend %hide;
    height: 0;
    width: 0;
    font-size: 0;
    &+label{
      display: inline-block;
    }
  }
}

%textarea-props{
  @extend %input-props;
  width: 100%;
  min-height: 100px;
  max-width: 100%;
  padding: .5em;
  line-height: normal;
  font: inherit;
  font-size: 16px;
}

%select-props{
  @extend %input-props;
  display: block;
  width: 100%;
  height: $input-height;
  padding: 0 20px;
  padding-right: $input-height
}

%pills-active{
  @extend %accent-colors-invert;
  border-color: $accent-color;
}

%hide-select-arrow{
  -moz-appearance:none;
  -webkit-appearance:none;
  &::-ms-expand{
    display: none;
  }
}

%custom-select-arrow{
  background: rgba(black,.2);
}
