%accent-colors{
  color :$accent-color;
  // background: $accent-background;
}

%accent-colors-invert{
  background: $accent-color;
  color: white;
}


%hide{
    visibility: hidden;
    opacity: 0;
}

%show{
    visibility: visible;
    opacity: 1;
}

%pseudo{
  content:'';
  display: block;
}
