@mixin hide{
    visibility: hidden;
    opacity: 0;
}

@mixin br{
  border: 1px solid red;
}

@mixin show{
    visibility: visible;
    opacity: 1;
}

@mixin no-select {
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


@mixin pseudo{
  content:'';
  display: block;
}
