$total-columns : 12;

@import '../functions/wordify.scss';

@function calculate-width($i, $p , $y){
  $width : ((100% / $i) * $p ) - (2 * $y);
  @return $width;
}

@mixin col-x($margin){
  *[class*='col-']{
    margin: $margin;
  }
  @for $n from 1 through $total-columns{
    .col-#{$n}{
        width: calculate-width($total-columns,$n,$margin);
    }
  }
}

@mixin x-y($margin){
  @for $i from 1 through $total-columns{
    @for $p from 1 through $i {
      .col.#{wordify($p)}-#{wordify($i)} {
        width : calculate-width($i,$p,$margin);
      }
    }
  }
}


@mixin col-screen-x($margin,$screen){
  *[class*='col-#{$screen}']{
    margin: $margin;
  }
  @for $n from 1 through $total-columns{
    .col-#{$screen}-#{$n}{
        width: calculate-width($total-columns,$n,$margin) !important;
    }
  }
}
