@mixin input-style(){
  border-radius: $input-border-radius;
  padding: $input-padding;
  background: $input-background;
  
  // border: $input-border-props;
  @include input-border-props;
}

@mixin input-props(){
  height: $input-height;
  outline: none;
}

@mixin label-props($font-size:15px){
  text-align: left;
  font-size: $font-size;
  padding: $input-padding;
  margin: $label-margin;
}

@mixin input-helptext($font-size: 15px){
  @include label-props($font-size);
  display: block;
  content: attr(data-text);
}

@mixin animated-input-props(){
  @include input-props;
}

@mixin textarea-props(){
  width: 100%;
  min-height: 100px;
  max-width: 100%;
  padding: .5em;
  line-height: normal;
  font: inherit;
  font-size: 16px;
  outline: 0;
  -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}


@mixin select-props($height: 40px){
  @include input-props;
  @include input-style;
  display: block;
  width: 100%;
  height: $input-height;
  padding: 0 20px;
  padding-right: $height
}

@mixin selectable-label{
  input{
    @include hide;
    height: 0;
    width: 0;
    font-size: 0;
    // &+label{}
  }
}


@mixin placeholder{
    input::-webkit-input-placeholder{@content;}
    input::-moz-placeholder{@content;}
    input:-moz-placeholder{@content;}
    input:-ms-placeholder{@content;}
    
    textarea::-webkit-input-placeholder{@content;}
    textarea::-moz-placeholder{@content;}
    textarea:-moz-placeholder{@content;}
    textarea:-ms-placeholder{@content;}
}

@mixin input-placeholder{
  input::-webkit-input-placeholder{@content;}
  input::-moz-placeholder{@content;}
  input:-moz-placeholder{@content;}
  input:-ms-placeholder{@content;}
}

@mixin textarea-placeholder{
  textarea::-webkit-input-placeholder{@content;}
  textarea::-moz-placeholder{@content;}
  textarea:-moz-placeholder{@content;}
  textarea:-ms-placeholder{@content;}
}
